*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

select{
    position: absolute;
    top: 10px;
    left: 10px;
} 


.text {
    position: absolute;
    bottom: 10px;
    left: 10px;
}